/*make grid class "float" columns next to each other
and then clear the floats so elements so not hover/overlap etc*/
.grid:after {
	content: "";
	display: block; /*appear as block elements*/
	clear: both; /*clear floats*/
}


/* use box model for mozilla and webkit browsers? with appropriate pre-fix 
so box-model will be read properly
"everything, everything after and everything before*/
*, *:after, *:before {		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*box bracket selects attribute (class) that finds anything 
that starts with (^) a property (col)
- a class property that asks for a code*/
[class^='col-'] {
	float: left;
	padding: 0;

}

/*Column Widths /////////////////////////////////////////////////////////////////////////////////////////*/

.col-4of4 {
	width: 100%;  
}

.col-3of4 {
    width: 65%;
}

.col-2of4 {
    width: 50%;
}

.col-1of4 {
    width: 35%;
    padding-right: 3rem;
}

.col-1of2 { 
    width: 50%;
}   

.col-1of3 { 
    width: 33.3333%;
}




@media (max-width: 60rem) { 
    .page-content-container .col-3of4{
        width: 100%;
    }

    .page-content-container .col-1of4{
        width: 100%;
    }
    
}

@media (max-width: 30rem) { 
    .col-1of3 { 
    width: 100%;

    }
    .col-2of4 {
    width: 100%;

    }


    .col-3of4 {
        width: 100%;
    }
    .col-1of4 {
    width: 100%;
    }
}
    
    

